.intro {
    /*display: none;*/
    position: relative;
    z-index: 500;
    background-color: var(--gray);
    /*height: 2000px;*/
    padding: 0px;
}

.intro__container {
    --paddingLength: 200px;
    padding-top: var(--paddingLength);
    padding-bottom: var(--paddingLength);
}

.intro__content {
    position: relative;
}

.intro__title {
    margin-bottom: 100px;
}

.intro__text-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.intro__paragraph {
    width: 40%;
}

.intro__info {

}

.intro__address {

}

.intro__contact {

}

.intro__cta-button {
    min-width: 180px;
}

.intro__image-h-animation-wrapper {
    position: absolute;
    z-index: -1;
    width: 30%;
    right: 60px;
    bottom: 0;

    height: 0;

    overflow: hidden;
}
@media (max-width: 960px) {
    .intro__image-h-animation-wrapper {
        display: none;
    }
}
.intro__back-image {
    position: absolute;
    bottom: 0;
}
