:root {

}

.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.slider {

}
.hero__slider {
    /*position: relative;*/
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}
.slider__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slider__slide-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* начинается веселуха со слайдами */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darkGray);
}
.slider__slide {

}

.slide__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide__image::after {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: linear-gradient(to bottom, rgba(38, 39, 38, 0.6), rgba(38, 39, 38, 0.3));
}

.slide.current {
    z-index: 2;
}
.slide.next {
    z-index: 1;
}


.slide__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.slide__text-container {
    max-width: 400px;
}
.slide__title {

}
.slide__subtitle {

}


.slider__dots {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    z-index: 100;
}
.dot {
    --side: 10px;
    height: var(--side);
    width: var(--side);
    border-radius: var(--side);
    border: 1px solid white;
    margin: var(--side);
    transition: background-color var(--opacityDuration);
    cursor: pointer;
}
.dot.active {
    background-color: white;
}




.arrow-down {
    position: absolute;

    height: 36px;
    width: 36px;

    left: 32px;
    bottom: 32px;

    background-image: url("../assets/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /*z-index: calc(100 + 1);*/
    animation-name: arrow-scroll-down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes arrow-scroll-down {
    from {
        transform: translate(0, -20px);
        opacity: 0;
    }
    20%, 80% {
        transform: translate(0, 0);
        opacity: 1;
    }
    to {
        transform: translate(0, 20px);
        opacity: 0;
    }
}
